<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/sma/Music/iTunes/iTunes Media/Music/Above &amp; Beyond/Hello - Single/01 Hello.m4a</key>
	<data>
	Ym9va4ADAAAAAAQQMAAAAGD9Jqgfsh/m3NFThgqvCMEapOyk1QJaZMAWq1SD3ynRfAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAHNtYQAFAAAAAQEAAE11
	c2ljAAAABgAAAAEBAABpVHVuZXMAAAwAAAABAQAAaVR1bmVzIE1lZGlhDgAAAAEBAABB
	Ym92ZSAmIEJleW9uZAAADgAAAAEBAABIZWxsbyAtIFNpbmdsZQAADAAAAAEBAAAwMSBI
	ZWxsby5tNGEkAAAAAQYAABAAAAAgAAAALAAAADwAAABMAAAALAAAAGAAAAB4AAAAkAAA
	AAgAAAAEAwAAddUJAAAAAAAIAAAABAMAANGbDwAAAAAACAAAAAQDAADmmw8AAAAAAAgA
	AAAEAwAAlj4nAAAAAAAIAAAABAMAAKY+JwAAAAAACAAAAAQDAADYnXcAAAAAAAgAAAAE
	AwAASqN3AAAAAAAIAAAABAMAAEujdwAAAAAACAAAAAQDAABDo3cAAAAAACQAAAABBgAA
	0AAAAOAAAADwAAAAAAEAABABAAAgAQAAMAEAAEABAABQAQAACAAAAAAEAABBwRgiWPK/
	FhgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAAFAGXjoAAAAIAAAAAAQAAEHAgX2GmvnlJAAAAAEBAABBRjUyQjhFQy05RERCLTRF
	RDYtQkIyRC00M0M1MTRGMTk0NTkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAApAAAAAAA
	AAAFEAAAYAEAAAAAAAAQEAAAnAEAAAAAAABAEAAAjAEAAAAAAAACIAAAaAIAAAAAAAAF
	IAAA2AEAAAAAAAAQIAAA6AEAAAAAAAARIAAAHAIAAAAAAAASIAAA/AEAAAAAAAATIAAA
	DAIAAAAAAAAgIAAASAIAAAAAAAAwIAAAdAIAAAAAAAABwAAAvAEAAAAAAAARwAAAIAAA
	AAAAAAASwAAAzAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/sma/Music/iTunes/iTunes Media/Music/Compilations/A State of Trance 2016/2-01 Embrace (feat. Eric Vloeimans) [Arty Remix].m4a</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAABUggbw+8wcftUc4dUbTejLxWzPKx535fL7ySolul849qAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAHNtYQAFAAAAAQEAAE11
	c2ljAAAABgAAAAEBAABpVHVuZXMAAAwAAAABAQAAaVR1bmVzIE1lZGlhDAAAAAEBAABD
	b21waWxhdGlvbnMWAAAAAQEAAEEgU3RhdGUgb2YgVHJhbmNlIDIwMTYAADQAAAABAQAA
	Mi0wMSBFbWJyYWNlIChmZWF0LiBFcmljIFZsb2VpbWFucykgW0FydHkgUmVtaXhdLm00
	YSQAAAABBgAAEAAAACAAAAAsAAAAPAAAAEwAAAAsAAAAYAAAAHQAAACUAAAACAAAAAQD
	AAB11QkAAAAAAAgAAAAEAwAA0ZsPAAAAAAAIAAAABAMAAOabDwAAAAAACAAAAAQDAACW
	PicAAAAAAAgAAAAEAwAApj4nAAAAAAAIAAAABAMAANiddwAAAAAACAAAAAQDAADZnXcA
	AAAAAAgAAAAEAwAASZ53AAAAAAAIAAAABAMAAEeedwAAAAAAJAAAAAEGAAD8AAAADAEA
	ABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAAAIAAAAAAQAAEHBGCGILerYGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZe
	OgAAAAgAAAAABAAAQcCBfYaa+eUkAAAAAQEAAEFGNTJCOEVDLTlEREItNEVENi1CQjJE
	LTQzQzUxNEYxOTQ1ORgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAACM
	AQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAAAAIgAACUAgAAAAAAAAUgAAAEAgAA
	AAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIgAAAoAgAAAAAAABMgAAA4AgAAAAAA
	ACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADoAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAD4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
